.home1__slider--bg {
	background: url(/images/sliders/home1-slider1.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
	opacity: 1;
	visibility: visible;
}
.swiper-button-prev,
 .swiper-button-next {
	width: 4rem !important;
	height: 4rem !important;
	background: var(--secondary-color);
	color: #fff;
	border-radius: 100%;
	transition: all 0.4s ease;
	opacity: 0;
	visibility: hidden;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
	background-color: var(--primary-color);
}
 .swiper-button-prev:after,
.swiper-button-next:after {
	font-size: 20px !important;
	color: #fff !important;
}
@media only screen and (max-width: 767px) {
	.home1__slider--bg {
		background-position: 0%;
	}
}

.home1__slider--bg.two {
	background: url(/images/sliders/home1-slider2.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home1__slider--bg.two {
		background-position: 0%;
	}
}

.home1__slider--bg.three {
	background: url(/images/sliders/home1-slider3.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home1__slider--bg.three {
		background-position: 0%;
	}
}

.hero__slider--items {
	position: relative;
}

.hero__slider--items__inner {
	padding: 6rem 0;
}

@media only screen and (min-width: 768px) {
	.hero__slider--items__inner {
		padding: 6rem 0;
	}
}

@media only screen and (min-width: 992px) {
	.hero__slider--items__inner {
		padding: 6.5rem 0;
	}
}

@media only screen and (min-width: 1200px) {
	.hero__slider--items__inner {
		padding: 7rem 0;
	}
}

@media only screen and (min-width: 1600px) {
	.hero__slider--items__inner {
		padding: 14.7rem 0;
	}
}

@media only screen and (max-width: 1599px) {
	.slider__content {
		padding-left: 5rem;
	}
}

@media only screen and (max-width: 1199px) {
	.slider__content {
		padding-left: 5rem;
	}
}

@media only screen and (max-width: 991px) {
	.slider__content {
		padding-left: 3.5rem;
	}
}

@media only screen and (max-width: 767px) {
	.slider__content {
		text-align: center;
		padding-left: 0;
	}
}

.slider__content.center {
	padding-left: 0;
}

.slider__content--maintitle {
	margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
	.slider__content--maintitle {
		margin-bottom: 1.3rem;
	}
}

@media only screen and (min-width: 992px) {
	.slider__content--maintitle {
		margin-bottom: 1.5rem;
	}
}

@media only screen and (min-width: 1600px) {
	.slider__content--maintitle {
		margin-bottom: 1.8rem;
	}
}

.slider__content--desc {
	font-size: 1.6rem;
	line-height: 2.5rem;
}

@media only screen and (min-width: 992px) {
	.slider__content--desc {
		font-size: 1.7rem;
		line-height: 2.8rem;
	}
}

@media only screen and (min-width: 1600px) {
	.slider__content--desc {
		font-size: 1.8rem;
		line-height: 3.1rem;
	}
}

.slider__content--desc.desc1 {
	font-weight: 500;
}

@media only screen and (max-width: 1199px) {
	.slider__content--desc.mb-40 {
		margin-bottom: 2.8rem;
	}
}

@media only screen and (max-width: 1200px) {
	.slider__content--desc.mb-40 {
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 991px) {
	.slider__content--desc.mb-40 {
		margin-bottom: 2.2rem;
	}
}

@media only screen and (max-width: 991px) {
	.slider__content--desc.mb-40 {
		margin-bottom: 1.8rem;
	}
}

.hero__slider--activation .swiper-button-prev {
	left: 1rem;
}

@media only screen and (min-width: 768px) {
	.hero__slider--activation .swiper-button-prev {
		left: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.hero__slider--activation .swiper-button-prev {
		left: 2rem;
	}
}

.hero__slider--activation .swiper-button-next {
	right: 1rem;
}

@media only screen and (min-width: 768px) {
	.hero__slider--activation .swiper-button-next {
		right: 1rem;
	}
}

@media only screen and (min-width: 992px) {
	.hero__slider--activation .swiper-button-next {
		right: 2rem;
	}
}

.slider__text--shape__icon {
	vertical-align: middle;
	margin-right: 0.3rem;
}

.swiper-slide-active .slider__content > * {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.swiper-slide-active .slider__content--desc {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.swiper-slide-active .slider__content--maintitle {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.swiper-slide-active .slider__content--desc.desc2 {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.swiper-slide-active .slider__btn {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.primary__btn--arrow__icon {
	vertical-align: middle;
	margin-left: 0.3rem;
}

.home2__slider--bg {
	background: url(/images/sliders/home2-slider1.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home2__slider--bg {
		background-position: 25%;
	}
}

.home2__slider--bg.two {
	background: url(/images/sliders/home2-slider2.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home2__slider--bg.two {
		background-position: 25%;
	}
}

.home2__slider--bg.three {
	background: url(/images/sliders/home2-slider3.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home2__slider--bg.three {
		background-position: 25%;
	}
}

@media only screen and (min-width: 992px) {
	.home2__slider--bg__inner {
		padding: 7rem 0;
	}
}

@media only screen and (min-width: 1200px) {
	.home2__slider--bg__inner {
		padding: 8rem 0;
	}
}

@media only screen and (min-width: 1366px) {
	.home2__slider--bg__inner {
		padding: 9.8rem 0;
	}
}

@media only screen and (min-width: 1600px) {
	.home2__slider--bg__inner {
		padding: 17rem 0;
	}
}

.home3__slider--bg {
	background: url(/images/sliders/home3-slider1.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home3__slider--bg {
		background-position: 25%;
	}
}

.home3__slider--bg.two {
	background: url(/images/sliders/home3-slider2.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home3__slider--bg.two {
		background-position: 25%;
	}
}

.home3__slider--bg.three {
	background: url(/images/sliders/home3-slider3.png);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

@media only screen and (max-width: 767px) {
	.home3__slider--bg.three {
		background-position: 25%;
	}
}

.slider__content.style3.center {
	padding-left: 0;
}
